body {
  background-color: cornflowerblue;
}

.container {
  font-family: outfit;
  color: burlywood;
  font-size: 15px;
  text-align: center;
}

.textstyles {
  color: whitesmoke;
  font-family: outfit;
  display: inline-block;
  left: 20px;
}

.tablecontainer {
  border: 2px groove black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  border: 2px groove forestgreen;
}

#heading {
  text-shadow: 2px 2px #e9e9e9;
  font-family: outfit;
  font-size: 1.5em;
  text-decoration: underline;
  text-transform: uppercase;
}
