body {
  background-color: cornflowerblue;
}

.container {
  font-family: outfit;
  color: burlywood;
  font-size: 15px;
  text-align: center;
}

.textstyles {
  color: whitesmoke;
  font-family: outfit;
  display: inline-block;
  left: 20px;
}
